@model ServiceLayer.CheckoutServices.CheckoutDto
@{
    ViewData["Title"] = "Checkout";
}
<form method="POST" asp-action="PlaceOrder">
    <input name="UserId" asp-for="@Model.UserId" type="hidden" alt=""/>
    @Html.AntiForgeryToken()
    @Html.Partial("ListBasketPartial", @Model.LineItems)
</form>