@model bool
@{
    ViewData["Title"] = "About";
}

<h3>About GenericBizRunner Example</h3>

<p>
    <strong>NOTE:</strong> This application is running on an in-memory database. That means the data is reset every time you start this application.
</p>
